@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.bg-gris{
    background-color: rgb(121, 121, 121);
    color: #000000;
}

/* principal */ 

.container-principal{
    padding: 40px;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-principal h1{
    font-weight: 700;
    font-size: 50px;
}

.text-principal p{
    font-size: 20px;
}

.principal{
    height: auto;
    padding: 20px;
}

footer{
    padding: 20px;
    background-color: #212529;
    color: white;
}

footer .titulo-footer{
    font-weight: 700;
    padding-top: 15px;
    font-size: 18px;
}

footer p{
    text-align: justify;
    margin-top: 10px;
    font-size: 15px;
}