@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* globales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.principal{
    margin-top: 140px;
    padding: 50px;
}

.principal h1{
    font-weight: 700;
}

